body 
{
    font-family: Comic Sans Ms;
    margin-top: 60px;
    background-image:url("https://image.freepik.com/free-vector/internet-user-s-silhouette_23-2147497532.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.center 
{
    text-align: center;
}

.text-big 
{
    font-size: 300%;
}

.bold 
{
    font-weight: bold;
}

.img-medium 
{
    height: 200px;
}

.container
{
    max-width: 800px;
    margin: 0 auto;
    font-family: Comic Sans MS;
    padding-left:20px;
    padding-right:20px;
}

.footer
{
    font-family: Comic Sans MS;
}